In [64]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import tensorflow.compat.v2.feature_column as fc
import tensorflow as tf

In [65]:
dftrain = pd.read_csv('http://storage.googleapis.com/tf-datasets/titanic/train.csv') # training data
dfeval = pd.read_csv('http://storage.googleapis.com/tf-datasets/titanic/eval.csv') # testing data
y_train = dftrain.pop('survived')
y_eval = dfeval.pop('survived')

In [66]:
CATEGORICAL_COLUMNS = ['sex', 'n_siblings_spouses', 'parch', 'class', 'deck', 'embark_town', 'alone']
NUMERICAL_COLUMNS = ['age', 'fare']
feature_columns = []

for feature_name in CATEGORICAL_COLUMNS:
    vocabulary = dftrain[feature_name].unique()
    feature_columns.append(tf.feature_column.categorical_column_with_vocabulary_list(feature_name, vocabulary))
    
for feature_name in NUMERICAL_COLUMNS:
    feature_columns.append(tf.feature_column.numeric_column(feature_name, dtype=tf.float32))

In [74]:
def make_input_fn(data_df, label_df, num_epochs=10, shuffle = True, batch_size = 32):
    def input_function():
        ds = tf.data.Dataset.from_tensor_slices((dict(data_df),label_df)) # create tf.data.Dataset object with data and its labels
        if shuffle:
            ds = ds.shuffle(1000) # randomize order of data
        ds = ds.batch(batch_size).repeat(num_epochs)
        return ds # return a batch of dataset
    return input_function # return a function object to use

In [75]:
train_input_fn = make_input_fn(dftrain, y_train)
eval_input_fn = make_input_fn(dfeval, y_eval, num_epochs=1, shuffle=False)

In [76]:
linear_est = tf.estimator.LinearClassifier(feature_columns=feature_columns)
                                           
linear_est.train(train_input_fn)
result = linear_est.evaluate(eval_input_fn)

print(result['accuracy'])

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Admiral\AppData\Local\Temp\tmp2uujaql5
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\Admiral\\AppData\\Local\\Temp\\tmp2uujaql5', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer linear/linear_model is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

WARNING:tensorflow:From C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\envs\tf_gpu\lib\site-packages\tensorflow_core\python\feature_column\feature_column_v2.py:518: Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:From C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\envs\tf_gpu\lib\site-packages\tensorflow_core\python\keras\optimizer_v2\ftrl.py:143: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\Admiral\AppData\Local\Temp\tmp2uujaql5\model.ckpt.
INFO:tensorflow:loss = 0.6931472, step = 0
INFO:tensorflow:global_step/sec: 74.2172
INFO:tensorflow:loss = 0.41485074, step = 100 (1.348 sec)
INFO:tensorflow:Saving checkpoints for 200 into C:\Users\Admiral\AppData\Local\Temp\tmp2uujaql5\model.ckpt.
INFO:tensorflow:Loss for final step: 0.31810707.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer linear/linear_model is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2020-03-21T17:00:49Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Admiral\AppData\Local\Temp\tmp2uujaql5\model.ckpt-200
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Inference Time : 0.77692s
INFO:tensorflow:Finished evaluation at 2020-03-21-17:00:50
INFO:tensorflow:Saving dict for global step 200: accuracy = 0.7689394, accuracy_baseline = 0.625, auc = 0.8309764, auc_precision_recall = 0.7897891, average_loss = 0.48169234, global_step = 200, label/mean = 0.375, loss = 0.4732897, precision = 0.7111111, prediction/mean = 0.35114694, recall = 0.64646465
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 200: C:\Users\Admiral\AppData\Local\Temp\tmp2uujaql5\model.ckpt-200
0.7689394

In [77]:
print(result)

{'accuracy': 0.7689394, 'accuracy_baseline': 0.625, 'auc': 0.8309764, 'auc_precision_recall': 0.7897891, 'average_loss': 0.48169234, 'label/mean': 0.375, 'loss': 0.4732897, 'precision': 0.7111111, 'prediction/mean': 0.35114694, 'recall': 0.64646465, 'global_step': 200}

In [79]:
rslt = list(linear_est.predict(eval_input_fn))

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer linear/linear_model is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Admiral\AppData\Local\Temp\tmp2uujaql5\model.ckpt-200
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [119]:
for a in range(len(dfeval)):
    print(dfeval.loc[a])
    print('---------------------------------')
    print('Survival probability: ',rslt[a]['probabilities'][1])
    print('Actual value: ', y_eval[a])
    print('------------------------------------------------------------------------------------------')

sex                          male
age                            35
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 0, dtype: object
---------------------------------
Survival probability:  0.06864076
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            54
n_siblings_spouses              0
parch                           0
fare                      51.8625
class                       First
deck                            E
embark_town           Southampton
alone                           y
Name: 1, dtype: object
---------------------------------
Survival probability:  0.2654991
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            58
n_siblings_spouses              0
parch                           0
fare                        26.55
class                       First
deck                            C
embark_town           Southampton
alone                           y
Name: 2, dtype: object
---------------------------------
Survival probability:  0.67840797
Actual value:  1
------------------------------------------------------------------------------------------
sex                        female
age                            55
n_siblings_spouses              0
parch                           0
fare                           16
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 3, dtype: object
---------------------------------
Survival probability:  0.61240876
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            34
n_siblings_spouses              0
parch                           0
fare                           13
class                      Second
deck                            D
embark_town           Southampton
alone                           y
Name: 4, dtype: object
---------------------------------
Survival probability:  0.23546505
Actual value:  1
------------------------------------------------------------------------------------------
sex                       female
age                           15
n_siblings_spouses             0
parch                          0
fare                      8.0292
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 5, dtype: object
---------------------------------
Survival probability:  0.72688246
Actual value:  1
------------------------------------------------------------------------------------------
sex                        female
age                             8
n_siblings_spouses              3
parch                           1
fare                       21.075
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 6, dtype: object
---------------------------------
Survival probability:  0.5402361
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            21
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 7, dtype: object
---------------------------------
Survival probability:  0.09406399
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            18
n_siblings_spouses              2
parch                           0
fare                           18
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 8, dtype: object
---------------------------------
Survival probability:  0.57770824
Actual value:  0
------------------------------------------------------------------------------------------
sex                       female
age                           19
n_siblings_spouses             0
parch                          0
fare                      7.8792
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 9, dtype: object
---------------------------------
Survival probability:  0.7070517
Actual value:  1
------------------------------------------------------------------------------------------
sex                       female
age                           28
n_siblings_spouses             0
parch                          0
fare                        7.75
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 10, dtype: object
---------------------------------
Survival probability:  0.6594652
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            21
n_siblings_spouses              0
parch                           0
fare                          7.8
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 11, dtype: object
---------------------------------
Survival probability:  0.094089255
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                             5
n_siblings_spouses              1
parch                           2
fare                        27.75
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 12, dtype: object
---------------------------------
Survival probability:  0.8248874
Actual value:  1
------------------------------------------------------------------------------------------
sex                        male
age                          28
n_siblings_spouses            0
parch                         0
fare                    27.7208
class                     First
deck                    unknown
embark_town           Cherbourg
alone                         y
Name: 13, dtype: object
---------------------------------
Survival probability:  0.3211599
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            29
n_siblings_spouses              0
parch                           0
fare                         10.5
class                      Second
deck                            F
embark_town           Southampton
alone                           y
Name: 14, dtype: object
---------------------------------
Survival probability:  0.81780165
Actual value:  1
------------------------------------------------------------------------------------------
sex                        female
age                            16
n_siblings_spouses              5
parch                           2
fare                         46.9
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 15, dtype: object
---------------------------------
Survival probability:  0.47509563
Actual value:  0
------------------------------------------------------------------------------------------
sex                        male
age                          26
n_siblings_spouses            1
parch                         0
fare                    14.4542
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         n
Name: 16, dtype: object
---------------------------------
Survival probability:  0.14934613
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            17
n_siblings_spouses              0
parch                           0
fare                         10.5
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 17, dtype: object
---------------------------------
Survival probability:  0.80128324
Actual value:  1
------------------------------------------------------------------------------------------
sex                        female
age                            33
n_siblings_spouses              3
parch                           0
fare                        15.85
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 18, dtype: object
---------------------------------
Survival probability:  0.35008729
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            29
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 19, dtype: object
---------------------------------
Survival probability:  0.078648046
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            20
n_siblings_spouses              0
parch                           0
fare                       7.8542
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 20, dtype: object
---------------------------------
Survival probability:  0.09619137
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            26
n_siblings_spouses              1
parch                           2
fare                       20.575
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 21, dtype: object
---------------------------------
Survival probability:  0.07445968
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            21
n_siblings_spouses              0
parch                           0
fare                         7.65
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 22, dtype: object
---------------------------------
Survival probability:  0.6317401
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            38
n_siblings_spouses              0
parch                           0
fare                       7.8958
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 23, dtype: object
---------------------------------
Survival probability:  0.06410234
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            20
n_siblings_spouses              1
parch                           0
fare                        9.825
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 24, dtype: object
---------------------------------
Survival probability:  0.65037304
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                             2
n_siblings_spouses              4
parch                           2
fare                       31.275
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 25, dtype: object
---------------------------------
Survival probability:  0.5398198
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            21
n_siblings_spouses              2
parch                           0
fare                         73.5
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 26, dtype: object
---------------------------------
Survival probability:  0.13353932
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            54
n_siblings_spouses              0
parch                           1
fare                      77.2875
class                       First
deck                            D
embark_town           Southampton
alone                           n
Name: 27, dtype: object
---------------------------------
Survival probability:  0.20225927
Actual value:  0
------------------------------------------------------------------------------------------
sex                        male
age                          12
n_siblings_spouses            1
parch                         0
fare                    11.2417
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         n
Name: 28, dtype: object
---------------------------------
Survival probability:  0.19890317
Actual value:  1
------------------------------------------------------------------------------------------
sex                      female
age                          28
n_siblings_spouses            1
parch                         1
fare                    22.3583
class                     Third
deck                          F
embark_town           Cherbourg
alone                         n
Name: 29, dtype: object
---------------------------------
Survival probability:  0.8293719
Actual value:  1
------------------------------------------------------------------------------------------
sex                        male
age                          33
n_siblings_spouses            0
parch                         0
fare                     7.8958
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         y
Name: 30, dtype: object
---------------------------------
Survival probability:  0.12320437
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            29
n_siblings_spouses              1
parch                           0
fare                           26
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 31, dtype: object
---------------------------------
Survival probability:  0.75790685
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            25
n_siblings_spouses              0
parch                           0
fare                           13
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 32, dtype: object
---------------------------------
Survival probability:  0.1667685
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            24
n_siblings_spouses              1
parch                           0
fare                        15.85
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 33, dtype: object
---------------------------------
Survival probability:  0.6261184
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            19
n_siblings_spouses              1
parch                           1
fare                        36.75
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 34, dtype: object
---------------------------------
Survival probability:  0.22152138
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            27
n_siblings_spouses              0
parch                           0
fare                       7.7958
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 35, dtype: object
---------------------------------
Survival probability:  0.08229307
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                          36.5
n_siblings_spouses              0
parch                           2
fare                           26
class                      Second
deck                            F
embark_town           Southampton
alone                           n
Name: 36, dtype: object
---------------------------------
Survival probability:  0.13713393
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            42
n_siblings_spouses              0
parch                           0
fare                           13
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 37, dtype: object
---------------------------------
Survival probability:  0.11661126
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            22
n_siblings_spouses              1
parch                           0
fare                         66.6
class                       First
deck                            C
embark_town           Southampton
alone                           n
Name: 38, dtype: object
---------------------------------
Survival probability:  0.8374593
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            30
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 39, dtype: object
---------------------------------
Survival probability:  0.07689213

Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            62
n_siblings_spouses              0
parch                           0
fare                        26.55
class                       First
deck                      unknown
embark_town           Southampton
alone                           y
Name: 156, dtype: object
---------------------------------
Survival probability:  0.10195702
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            28
n_siblings_spouses              0
parch                           0
fare                         13.5
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 157, dtype: object
---------------------------------
Survival probability:  0.15673201
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            28
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 158, dtype: object
---------------------------------
Survival probability:  0.590935
Actual value:  0
------------------------------------------------------------------------------------------
sex                        male
age                          28
n_siblings_spouses            0
parch                         0
fare                     7.2292
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         y
Name: 159, dtype: object
---------------------------------
Survival probability:  0.13714327
Actual value:  0
------------------------------------------------------------------------------------------
sex                       female
age                           28
n_siblings_spouses             0
parch                          0
fare                        7.75
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 160, dtype: object
---------------------------------
Survival probability:  0.6594652
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            19
n_siblings_spouses              0
parch                           0
fare                         14.5
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 161, dtype: object
---------------------------------
Survival probability:  0.09764431
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            39
n_siblings_spouses              1
parch                           0
fare                         55.9
class                       First
deck                            E
embark_town           Southampton
alone                           n
Name: 162, dtype: object
---------------------------------
Survival probability:  0.9009811
Actual value:  1
------------------------------------------------------------------------------------------
sex                      female
age                          28
n_siblings_spouses            1
parch                         0
fare                    14.4583
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         n
Name: 163, dtype: object
---------------------------------
Survival probability:  0.73409474
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            32
n_siblings_spouses              0
parch                           0
fare                        7.925
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 164, dtype: object
---------------------------------
Survival probability:  0.07349782
Actual value:  1
------------------------------------------------------------------------------------------
sex                      female
age                          39
n_siblings_spouses            1
parch                         1
fare                    110.883
class                     First
deck                          C
embark_town           Cherbourg
alone                         n
Name: 165, dtype: object
---------------------------------
Survival probability:  0.8744566
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            54
n_siblings_spouses              0
parch                           0
fare                           26
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 166, dtype: object
---------------------------------
Survival probability:  0.088334925
Actual value:  0
------------------------------------------------------------------------------------------
sex                        male
age                          28
n_siblings_spouses            0
parch                         0
fare                     8.7125
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         y
Name: 167, dtype: object
---------------------------------
Survival probability:  0.1369352
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            18
n_siblings_spouses              0
parch                           2
fare                        79.65
class                       First
deck                            E
embark_town           Southampton
alone                           n
Name: 168, dtype: object
---------------------------------
Survival probability:  0.90891474
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            22
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 169, dtype: object
---------------------------------
Survival probability:  0.091998264
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            24
n_siblings_spouses              2
parch                           1
fare                           27
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 170, dtype: object
---------------------------------
Survival probability:  0.7483737
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            28
n_siblings_spouses              0
parch                           0
fare                       7.8958
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 171, dtype: object
---------------------------------
Survival probability:  0.08045409
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            28
n_siblings_spouses              0
parch                           0
fare                         42.4
class                       First
deck                      unknown
embark_town           Southampton
alone                           y
Name: 172, dtype: object
---------------------------------
Survival probability:  0.20390943
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            44
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 173, dtype: object
---------------------------------
Survival probability:  0.055824082
Actual value:  0
------------------------------------------------------------------------------------------
sex                         male
age                           28
n_siblings_spouses             0
parch                          0
fare                        7.75
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 174, dtype: object
---------------------------------
Survival probability:  0.10495933
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            26
n_siblings_spouses              1
parch                           0
fare                         16.1
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 175, dtype: object
---------------------------------
Survival probability:  0.61451656
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                             4
n_siblings_spouses              2
parch                           1
fare                           39
class                      Second
deck                            F
embark_town           Southampton
alone                           n
Name: 176, dtype: object
---------------------------------
Survival probability:  0.8772214
Actual value:  1
------------------------------------------------------------------------------------------
sex                        male
age                          27
n_siblings_spouses            1
parch                         0
fare                    14.4542
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         n
Name: 177, dtype: object
---------------------------------
Survival probability:  0.14626235
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            42
n_siblings_spouses              1
parch                           0
fare                      52.5542
class                       First
deck                            D
embark_town           Southampton
alone                           n
Name: 178, dtype: object
---------------------------------
Survival probability:  0.26768294
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            21
n_siblings_spouses              0
parch                           0
fare                       7.8542
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 179, dtype: object
---------------------------------
Survival probability:  0.09408378
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            21
n_siblings_spouses              0
parch                           0
fare                         16.1
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 180, dtype: object
---------------------------------
Survival probability:  0.093253486
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            28
n_siblings_spouses              0
parch                           0
fare                            0
class                       First
deck                      unknown
embark_town           Southampton
alone                           y
Name: 181, dtype: object
---------------------------------
Survival probability:  0.21219471
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            31
n_siblings_spouses              1
parch                           1
fare                        26.25
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 182, dtype: object
---------------------------------
Survival probability:  0.1768019
Actual value:  0
------------------------------------------------------------------------------------------
sex                      female
age                          24
n_siblings_spouses            0
parch                         0
fare                       69.3
class                     First
deck                          B
embark_town           Cherbourg
alone                         y
Name: 183, dtype: object
---------------------------------
Survival probability:  0.93261176
Actual value:  1
------------------------------------------------------------------------------------------
sex                        female
age                             2
n_siblings_spouses              3
parch                           2
fare                         27.9
class                       Third
deck                      unknown
embark_town           Southampton
alone                           n
Name: 184, dtype: object
---------------------------------
Survival probability:  0.48727518
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            19
n_siblings_spouses              0
parch                           0
fare                       7.8958
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y
Name: 185, dtype: object
---------------------------------
Survival probability:  0.09833666
Actual value:  0
------------------------------------------------------------------------------------------
sex                        male
age                          56
n_siblings_spouses            0
parch                         0
fare                       35.5
class                     First
deck                          A
embark_town           Cherbourg
alone                         y
Name: 186, dtype: object
---------------------------------
Survival probability:  0.25575784
Actual value:  1
------------------------------------------------------------------------------------------
sex                       female
age                           28
n_siblings_spouses             0
parch                          0
fare                      7.8292
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 187, dtype: object
---------------------------------
Survival probability:  0.6594441
Actual value:  1
------------------------------------------------------------------------------------------
sex                       female
age                           18
n_siblings_spouses             0
parch                          0
fare                        6.75
class                      Third
deck                     unknown
embark_town           Queenstown
alone                          y
Name: 188, dtype: object
---------------------------------
Survival probability:  0.7123716
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            23
n_siblings_spouses              0
parch                           0
fare                           13
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 189, dtype: object
---------------------------------
Survival probability:  0.17368416
Actual value:  0
------------------------------------------------------------------------------------------
sex                        male
age                          58
n_siblings_spouses            0
parch                         2
fare                    113.275
class                     First
deck                          D
embark_town           Cherbourg
alone                         n
Name: 190, dtype: object
---------------------------------
Survival probability:  0.21965489
Actual value:  0
------------------------------------------------------------------------------------------
sex                        male
age                          40
n_siblings_spouses            0
parch                         0
fare                      7.225
class                     Third
deck                    unknown
embark_town           Cherbourg
alone                         y
Name: 191, dtype: object
---------------------------------
Survival probability:  0.10592897
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                            32
n_siblings_spouses              2
parch                           0
fare                         73.5
class                      Second
deck                      unknown
embark_town           Southampton
alone                           n
Name: 192, dtype: object
---------------------------------
Survival probability:  0.105331935
Actual value:  0
------------------------------------------------------------------------------------------
sex                        female
age                            28
n_siblings_spouses              1
parch                           0
fare                           52
class                       First
deck                            C
embark_town           Southampton
alone                           n
Name: 193, dtype: object
---------------------------------
Survival probability:  0.8190408
Actual value:  1
------------------------------------------------------------------------------------------
sex                          male
age                            70
n_siblings_spouses              0
parch                           0
fare                         10.5
class                      Second
deck                      unknown
embark_town           Southampton
alone                           y
Name: 194, dtype: object
---------------------------------
Survival probability:  0.062533185
Actual value:  0
------------------------------------------------------------------------------------------
sex                          male
age                          24.5
n_siblings_spouses              0
parch                           0
fare                         8.05
class                       Third
deck                      unknown
embark_town           Southampton
alone                           y